<html>

<div>
    <h3>Place Order at Sasa Techonologies</h3>
    <form method="POST">
        Item Id:
        <select name="ItemId1">
            <option value="Item1">Item1</option>
            <option value="Item2">Item2</option>
            <option value="Item3">Item3</option>
            <option value="Item4">Item4</option>
        </select>
        <br>
        Quantity: <input type="number" name="Quantity1">
        <br>
        Item Id:
        <select name="ItemId2">
            <option value="Item1">Item1</option>
            <option value="Item2">Item2</option>
            <option value="Item3">Item3</option>
            <option value="Item4">Item4</option>
        </select>
        <br>
        Quantity: <input type="number" name="Quantity2">
        <br>
        <input type="submit" value="Submit">

    </form>
</div>

</html>