<html>

<div>
    <h3>Place Order at Sasa Techonologies</h3>

    {% if id %}
        <h4>Previous placed order id: {{ id }}</h4>
    {% endif %}


    <form method="POST">
        Item Id:
        <select name="ItemId1">
            <option value="ps4">ps4</option>
            <option value="xbox">xbox</option>
            <option value="harry potter book">harry potter book</option>
            <option value="tshirt">tshirt</option>
        </select>
        <br>
        Quantity: <input type="number" name="Quantity1">
        <br>
        Item Id:
        <select name="ItemId2">
            <option value="ps4">ps4</option>
            <option value="xbox">xbox</option>
            <option value="harry potter book">harry potter book</option>
            <option value="tshirt">tshirt</option>
        </select>
        <br>
        Quantity: <input type="number" name="Quantity2">
        <br>
        <input type="submit" value="Submit">

    </form>
</div>

</html>